*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:#f8e9e0;
    background-color: #52423D;
    background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  min-height:100vh;
  flex-direction:column;
}
main{
    flex: 1;
}
a{
    text-decoration: none;
      color:#04065eb4;
}
#hero{
 
    margin-top: 4%;
    padding:15%;
   
    text-align: center;
}
.options{

z-index:10;
display: flex;
align-items: center;
justify-content: space-around;
top:10px;

justify-self:flex-start;
gap:20px;
cursor: pointer;
position:fixed;
flex-wrap: wrap;

  
}
.optio{
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-around;

padding-top: 20px;
gap:20px;
cursor: pointer;


}
h1{
    margin-top:6%;
    color: #a8a7a5;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #0edfc3 0px 0px 20px, #f5d02a 0px 0px 30px, #FF2D95 0px 0px 40px, #2dffed 0px 0px 50px, #2de6ff 0px 0px 75px;
}
h4{
margin-top: 5px;    
}
.op{
 padding: 5px;
 flex: 1;
}
.op a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.op:hover{
 text-decoration:overline;

 transform: scale(1.01);
 transition: 0.3s;
 border-radius: 20px;
 
}
.pro{
    flex:1;
    border-radius: 17px;
    backdrop-filter: blur(3px);
    height: fit-content;
   
    padding: 20%;
    border:3px solid;
    min-width: 10px; 
  max-width: 200px;
 box-shadow:3px 5px 3px#dfcac0ab;

  
}

.proj{
   
     margin-top:35%;
        display: flex;
    flex-direction: row;
padding-top: 100px;
    justify-content: center;
    align-items: center;
gap: 20px;
    
    padding: 40px;
  flex-wrap: wrap;

}

.pro:hover{
    cursor: pointer;
    transform: scale(1.02);
transition:0.3s;
}
#contact-de{
display: flex;
flex-direction: row;
  gap: 15px;
  max-width: 600px;
  margin: 10% auto;
  padding: 17px;
  background: rgba(22, 15, 12, 0.8); 
  border-radius: 15px;
  backdrop-filter: blur(10px); 
}
#hi{
    padding-right:30%;
    font-size: x-large;
}
#btn{
    background-color: #391214; /* Dark Sienna */
  color: #C0BAB3;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
#btn:hover{
    transform:scale(1.01);
    box-shadow: 2px 2px 3px #3b222f;
}
.inp{
    margin-bottom:10% ;
    background: transparent;
    border-color: transparent;
}
.inp:hover{
    border-radius: 20px;
    box-shadow:3px 3px 3px#99d2da;
}
#disc{
    padding: 10px;
    color: white;
    background-color: #05020081;
    border-radius: 20px;
    border:3px solid #a8a7a5;
    max-width: fit-content;
    height:100px;
}
.discription{
    
    color:#29121e;
    font-size:x-large;
}
footer{
    border: 3px solid #391214; /* Initial state */
  animation: line 4s infinite ease-in-out;
    font-size: xx-small;
    background-color: #2c1e18c4;
    color: #ffffff;
    padding:10px;
    
}
.state{
opacity: 30%;
padding-bottom: 20px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}
.links{
    text-align: end;
}
.links a {
    color: #ffd207de;
    margin: 0 10px;
    text-decoration: none;
    font-size: 13px;
}
.links a:hover {
    text-decoration: underline;
}
#resu {
display:flex;
gap: 2rem;
flex-wrap:wrap;
flex: 1;          
 min-height: 300px;
   min-width: 300px;
   margin: 25% 5% 5% 5%  ;
   justify-content: space-around;
   
}
h4{
    padding-left: 10px;
    color: #391214;
    text-decoration:underline;
}
#edu{
   animation-name: line;
border-left: 5px solid;
 min-width: 300px;
}
#exp{
     min-width: 300px;
border-left: 3px solid #391214; 
}
.skills-content {
    background-color: #db480475;
    margin: 10%  ;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 800px;
}

.skills-content h1 {
    font-size: 24px;
    color: #042a50b2;
    text-align: center;
}

.skills-content h3 {
    font-size: 18px;
    color: #01353b;
    border-left: 4px solid #3498db; 
    padding-left: 10px;
    margin-top: 25px;
}

.skills-content ul {
    list-style-type: disc;
    padding-left: 40px;
}

.skills-content li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ffd102a9;
}